kube-prometheus-stack:
  prometheus:
    prometheusSpec:
      ruleSelector:
        matchLabels:
          prometheus.io/monitor: security
      podMonitorSelector:
        matchLabels:
          prometheus.io/monitor: security

  alertmanager:
    enabled: true

  kube-state-metrics:
    enabled: false
    prometheus:
      monitor:
        enabled: false

  nodeExporter:
    enabled: false

  prometheus-node-exporter:
    prometheus:
      monitor:
        enabled: false

  prometheus-pushgateway:
    enabled: false